/* ***** COMMONS STYLES ***** */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: #0a0a0a;
    background: #fafafa;
    min-height: 100vh;
}

h1, h2 {
    line-height: 1.2;
}

h2 {
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 1.8em;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.4em;
    line-height: 1.5;
    letter-spacing: .2rem;
    text-align: center;
}

a, a:visited {
    text-decoration: none;
    color: #0a0a0a;
}

.button {
    padding: 10px;
    border: 3px solid #0a0a0a;
    border-radius: 30px 60px;
    box-sizing: border-box;
    transition: border-radius .3s;
}

.button:hover {
    border-radius: 60px 30px;
}

/* ***** Navigation component ***** */

#navigation {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-sizing: border-box;
    padding: 10px;
}

.brand {
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 2.2em;
}

#navigation a > i.fa {
    margin-right: 10px;
}

#menu {
    position: fixed;
    left: 30vw; 
    top: 0; bottom: 0;
    color: #f5f5f5;
    background-color: #171717;
    width: 70vw;
    box-sizing: border-box;
    border-radius: 0;
    padding: 10px;
    transform: translateX(70vw);
    transition: transform .5s, border-radius .7s;
    animation-timing-function: ease-in-out;
}

#menu:target {
    border-radius: 40% 0 0 80%;
    transform: translateX(0);
}

#menu > li > a {
    font-size: 1em;
    text-align: center;
    color: #f5f5f5;
    display: block;
    margin: 5px;
    padding: 10px;
}

#menu > li:first-child > a {
    text-align: right;
    margin-bottom: 20px;
}


#menu > li > a:hover {
    color: #fafafa;
}

#menu > li:not(:first-child) > a::before {
    content: "<";
    opacity: 0;
    transition: opacity .3s;
}

#menu > li:not(:first-child) > a::after {
    content: " />";
    opacity: 0;
    transition: opacity .3s;
}

#menu > li:not(:first-child) > a:hover::before {
    content: "<";
    opacity: 1;
}

#menu > li:not(:first-child) > a:hover::after {
    content: " />";
    opacity: 1;
}

#menu > li:last-child {
    align-self: flex-end;
}

/* ***** 404 page component ***** */

#not-found {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px); /* 70px = #navigation height */
    box-sizing: border-box;
    padding: 10px;
}

/* ***** Home component ***** */

#home {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px); /* 70px = #navigation height */
    box-sizing: border-box;
    padding: 10px;
}

h3 > span {
    text-decoration: underline;
    color: #000;
    display: block;
}

#home .hi {
    font-size: 1.2em;
    text-align: left;
    align-self: flex-start;
    margin-bottom: 40px;
}

.home-cta {
    margin-top: 80px;
}

/* ***** About component ***** */

#about {
    box-sizing: border-box;
    padding: 10px;
}

.text-long {
    text-align: justify;
    line-height: 1.5;
}

.about-cta {
    text-align: center;
    margin: 80px 0;
}