/* ***** VARIABLES ***** */

:root {
    --light-color: #e5e5e5;
    --dark-color: #262626;

    --menu-max-width: 260px;
    --menu-width-show: 70vw;
    --menu-width-hide: 0;

    --menu-width: var(--menu-width-hide);

    --content-plus-opacity: 0;
    --content-plus-transform: translate(-500px, -349px);
}

/* ***** COMMONS STYLES ***** */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: var(--dark-color);
    background: var(--light-color);
    min-height: 100vh;
}

h1,
h2 {
    line-height: 1.2;
}

h2 {
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 1.8em;
    margin-bottom: 20px;
    animation: flipInX 1.4s;
}

h3 {
    font-size: 1.4em;
    line-height: 1.5;
    letter-spacing: .2rem;
    text-align: center;
    animation: flipInX 1.4s;
}

h4 {
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: .2rem;
}

i.fa {
    margin-right: 10px;
}

a,
a:visited {
    text-decoration: none;
    color: var(--dark-color);
}

.button {
    padding: 10px;
    border: 3px solid var(--dark-color);
    border-radius: 30px 60px;
    box-sizing: border-box;
    transition: border-radius .3s;
}

.button:hover {
    border-radius: 60px 30px;
}

/* ***** Navigation component ***** */

#navigation {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-sizing: border-box;
    padding: 10px;
}

.brand {
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 2.2em;
}

#menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    color: var(--light-color);
    background-color: var(--dark-color);
    width: var(--menu-width);
    max-width: var(--menu-max-width);
    box-sizing: border-box;
    border-radius: 40% 0 0 80%;
    padding: 0;
    transition: width .5s;
}

#menu:target {
    width: var(--menu-width);
}

#menu>li>a {
    font-size: 1em;
    text-align: center;
    color: var(--light-color);
    display: block;
    opacity: 1;
    margin: 5px;
    padding: 10px;
}

#menu>li:first-child>a {
    text-align: right;
    margin-bottom: 20px;
}

#menu>li:not(:first-child)>a::before {
    content: "<";
    opacity: 0;
    transition: opacity .3s;
}

#menu>li:not(:first-child)>a::after {
    content: " />";
    opacity: 0;
    transition: opacity .3s;
}

#menu>li:not(:first-child)>a:hover::before {
    opacity: 1;
}

#menu>li:not(:first-child)>a:hover::after {
    opacity: 1;
}

#menu>li:last-child {
    align-self: flex-end;
}

/* ***** 404 page component ***** */

#not-found {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px); /* 70px = #navigation height */
    box-sizing: border-box;
    padding: 10px;
}

/* ***** Home component ***** */

#home {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px); /* 70px = #navigation height */
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px;
}

h3>span {
    text-decoration: underline;
    color: var(--dark-color);
    display: block;
}

#home .hi {
    font-size: 1.2em;
    text-align: left;
    align-self: flex-start;
    margin-bottom: 40px;
    animation: backInDown .9s;
}

.home-cta {
    margin-top: 80px;
    animation: bounceInUp 1.9s;
}

/* ***** About component ***** */

#about {
    min-height: 90vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    box-sizing: border-box;
    padding: 10px;
}

.text-long {
    text-align: justify;
    line-height: 1.5;
    margin: 10px;
    animation: fadeInUp 1.4s;
}

.about-cta {
    text-align: center;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 80px 0;
    animation: bounceInUp 1.9s;
}

.about-cta > a {
    padding: 15px;
}

/* ***** Projects List component ***** */

#projects {
    box-sizing: border-box;
    padding: 10px;
}

#projects > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.item-project {
    width: 256px;
    height: 454px;
    border: 3px solid var(--dark-color);
    border-radius: 18px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 30px auto;
    animation: zoomIn .6s;
}

.item-project > img {
    height: 100%;
}

.item-project .content {
    background: var(--light-color);
    width: calc(256px - 6px); /* 6px = .item-project border-width (3px * 2, right + left) */
    height: calc(454px - 6px); /* 6px = .item-project border-width (3px * 2, top + bottom) */
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    opacity: 0;
    overflow: hidden;
    transform: scale(.9);
    transition: opacity .3s, transform .3s;
}

.item-project .content h4,
.item-project .content p,
.item-project .content ul {
    padding: 10px;
}

.item-project:hover .content {
    opacity: 1;
    transform: scale(1);
}

.tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.tags > li:not(:last-child):after {
    content: " | ";
}

.tags > li {
    font-size: .85em;
}

.item-project-links li a,
#contact p a {
    display: inline-block;
    margin: 10px 0;
}

.item-project-links li a::after,
#contact p a::after {
    content: "";
    background: var(--dark-color);
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    transition: width .6s;
}

.item-project-links li a:hover::after,
#contact p a:hover::after {
    width: 100%;
}

/* ***** Contact component ***** */

#contact {
    height: calc(100vh - 70px);
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px;
}

#contact .content {
    text-align: center;
    height: 80%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: center;
}

#contact .content p {
    animation: flipInX .9s;
}

#contact ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 30px;
}

#contact ul li:first-child {
    animation: bounceInUp 1.4s;
}

#contact ul li:last-child {
    animation: bounceInUp 1.9s;
}

/* ***** sm suffixe ***** */
@media screen and (min-width: 576px) {
    #home {
        justify-content: center;
        align-items: flex-start;
        width: 70%;
        overflow: hidden;
        margin: 0 auto;
    }

    #home > h3 {
        text-align: left;
    }

    #about {
        width: 80%;
        margin: 0 auto;
    }

    .text-long {
        margin: 10px 0;
    }
}

/* ***** md suffixe ***** */
@media screen and (min-width: 768px) {
    #navigation a[href="#menu"],
    #navigation a#close-menu {
        display: none;
    }

    #menu {
        position: static;
        color: var(--dark-color);
        background-color: var(--light-color);
        width: 90vw;
        max-width: 90vw;
        flex: 0 1 auto;
        display: flex;
        justify-content: flex-end;
        box-sizing: border-box;
        border-radius: 0;
        transition: width .5s;
    }
    
    #menu:target {
        width: var(--menu-width);
    }

    #menu>li,
    #menu>li>a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menu>li>a {
        color: var(--dark-color);
        flex-flow: column wrap;
    }

    #menu>li>a:hover {
        color: var(--dark-color);
    }

    #menu>li:not(:first-child)>a::before {
        content: "";
    }

    #menu>li:not(:first-child)>a::after {
        content: "";
        color: var(--dark-color);
        background: var(--dark-color);
        width: 0;
        height: 3px;
        display: block;
        flex: 1 1 auto;
        align-self: flex-start;
        opacity: 1;
        margin-top: 5px;
        transition: width .6s;
    }

    #menu>li:not(:first-child)>a:hover::after {
        width: 100%;
    }

    #home > h2 {
        font-size: 2.2em;
    }

    #home > h3 {
        font-size: 1.8em;
    }

    h3>span {
        display: inline;
    }
    
}

/* ***** lg suffixe ***** */
@media screen and (min-width: 1024px) {
    #home {
        width: 55%;
    }

    #about {
        width: 60%;
    }
}

/* ***** xl suffixe ***** */
@media screen and (min-width: 1280px) {
    #home > h2 {
        font-size: 2.6em;
    }

    #home > h3 {
        font-size: 2.2em;
    }
}

/* ***** 2xl suffixe ***** */
@media screen and (min-width: 1536px) {}

/*@media screen and (prefers-color-scheme: dark) {
    :root {
        --light-color: #171717;
        --dark-color: #e5e5e5;
    }
}*/
