/* ***** COMMONS STYLES ***** */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    min-height: 100vh;
}

h1, h2, h3, h4 {
    font-family: 'Baloo Paaji 2', cursive;
    line-height: 1.2;
}

a, a:visited {
    text-decoration: none;
    color: #000;
}

/* ***** Navigation component ***** */

#navigation {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.brand {
    font-size: 2.2em;
}

#navigation a > i.fa {
    margin-right: 10px;
}

#menu {
    position: fixed;
    left: 30vw; 
    top: 0; bottom: 0;
    color: #f5f5f5;
    background-color: #171717;
    width: 70vw;
    box-sizing: border-box;
    border-radius: 0;
    padding: 10px;
    transform: translateX(70vw);
    transition: transform .5s, border-radius .7s;
    animation-timing-function: ease-in-out;
}

#menu:target {
    border-radius: 40% 0 0 80%;
    transform: translateX(0);
}

#menu > li > a {
    font-size: 1em;
    text-align: center;
    color: #f5f5f5;
    display: block;
    margin: 5px;
    padding: 10px;
}

#menu > li:first-child > a {
    text-align: right;
    margin-bottom: 20px;
}


#menu > li > a:hover {
    color: #fafafa;
}

#menu > li:not(:first-child) > a::before {
    content: "<";
    opacity: 0;
    transition: opacity .3s;
}

#menu > li:not(:first-child) > a::after {
    content: " />";
    opacity: 0;
    transition: opacity .3s;
}

#menu > li:not(:first-child) > a:hover::before {
    content: "<";
    opacity: 1;
}

#menu > li:not(:first-child) > a:hover::after {
    content: " />";
    opacity: 1;
}

#menu > li:last-child {
    align-self: flex-end;
}